<?xml version="1.0" encoding="utf-8"?>
<apps>
	
    <app label="Travelar" desc="Grab the best hotel deals from Travelar.com" href="http://travelar.com/">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_travelar.png" width="162" height="114"/>
    </app>
    <app label="iPhone 5s" desc="Forward thinking." href="http://new.uberfusion.com.my/ecomm_C/smartphone_main_product/default/iphone5s">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_iphone5s.png" width="162" height="114"/>
    </app>
    <app label="Prepaid Broadband" desc="Work or play - surf the internet for ONLY RM10!" href="http://new.uberfusion.com.my/ecomm_C/prepaid_internet/home/pre_broad_for_pc_and_tablet">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_RM10.png" width="162" height="114"/>
    </app>
    <app label="Samsung GALAXY Note 3" desc="Design Your Life." href="http://new.uberfusion.com.my/ecomm_C/smartphone_main_product/default/Samsung_GALAXY_Note_3">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_note3.png" width="162" height="114"/>
    </app>
    <app label="Deezer" desc="Search, stream and share unlimited music no matter where you are." href="https://play.google.com/store/apps/details?id=deezer.android.app">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_deezer.png" width="162" height="114"/>
    </app>
    <app label="LIVE" desc="The one-stop place for the best in Services on your mobile" href="http://m.live.my">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/uberfusion_life.jpg" width="162" height="114"/>
    </app>
    <app label="My Free CallerTunes™" desc="FREE exclusively for My app users!" href="http://m.live.my/v3/page/store/subcategories?storeCat=23288&amp;showchild=y&amp;parentSub=29029">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_freect.png" width="162" height="114"/>
    </app>
    <app label="Music™ Play" desc="Download &amp; play unlimited music in this must-have app" href="http://m.live.my/v3/page/store/product?lang=en&amp;storeSubCat=23369">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/musicplay.png" width="163" height="112"/>
    </app>
    <app label="Store Online" desc="The convenience of shopping on-the-go with a 24-hour FREE delivery at your fingertips!" href="http://shop.uberfusion.com.my">
        <logo src="http://www.uberfusion.com.my/shared/ocs-moba-xml/app/images/whats_hot_dso.png" width="162" height="114"/>
    </app>
</apps>